nav {
  background-color: orange;
}
.small-nav {
  color: white;
}
.logo {
  width: 80px;
  padding: 10px 0px;
}
.main-menu {
  background-color: gainsboro;
}
.menu {
  padding:10px 10px;
  text-decoration: none !important;
  text-transform: capitalize;
  background-color: gainsboro;
  color: black;
  font-weight: 600;
}
a.menu:hover {
  background-color: orange !important;
  color: white;
  border-radius: 5px;
}
